/* button */
button {
    background-color: red;
}

button:hover {
    background-color: blue;
}

/* input */
input {
    border: 1px solid #ccc;
}

input:focus {
    color: yellow;
    background-color: royalblue;
}

/* a */
a:link {
    color: red;
}

a:visited {
    color: yellow;
}

a:hover {
    color: pink;
}

a:active {
    color: green;
}